@import "../utils/mixins";
@import "../utils/variables";

.collapse {
  width: 100%;
  margin: 20px 0;

  &__dropdown {
    width: 100%;

    @media screen and (min-width: large) {
      width: 80%;
    }

    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background-color: #ff6060;
      margin: 0 auto;
      margin-top: 1.5em;
      border-radius: 5px;

      @media screen and (min-width: large) {
        width: 100%;
      }

      h2 {
        color: #ffffff;
        padding-left:10px;
        @include media-query(small){
          font-size: 16px;
        }
        @include media-query(large){
          font-size: 24px;
        }
      }
      p {
        color: #ffffff;
        i {
          cursor: pointer;
        }
      }
    }
    &__content {
      background-color: #f7f7f7;
      width: 100%;
      border-radius: 5px;

      @media screen and (min-width: large) {
        width: 100%;
      }

      p {
        color: #ff6060;
        margin: 0 auto;
        padding: 15px;
        @include media-query(small){
          font-size: 14px;
        }
        @include media-query(large){
          font-size: 18px;
        }
      }
    }
  }
}

.collapse__dropdown__container{
    position: relative;
}

.collapse__dropdown__title{
    height:52px;
}

.fa-chevron-up{
    position: absolute;
    transition: transform 350ms cubic-bezier(0, 1, 0, 1);
    @include media-query(small){
      font-size: 18px;
      right:15px;
      top:16px;
    }
    @include media-query(large){
      font-size: 24px;
      right:20px;
      top:12px;
    }
}

.chevron--expanded {
  transform: rotateZ(-180deg);
}

/* Pour la transition du contenu vers le bas */
.collapse__dropdown__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 200ms ease-out;
}

.collapse__dropdown__content.open {
  max-height: 500px;
  transition: max-height 200ms ease-in;
}
