.banner-img {
    position: relative; /* Le conteneur a une position relative */
    margin-top:40px;
    height: 223px; 
    overflow: hidden;
    margin-left:10em;
    margin-right:10em;
  
    img {
      width: 100%;
      object-fit: cover;
      height:100%;
      border-radius: 15px;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2); /* Fond semi-transparent pour assombrir l'image */
        border-radius: 15px;
      }
  
    p {
      position: absolute;
      top: 35%; 
      left: 50%; 
      transform: translate(-50%, -50%); /* Centrez le texte précisément */
      color: white; 
      padding: 10px;
      font-size: 40px;
    }
  }
  